.testimonials-container
  %h2.text-center What everyone's saying...
  .testimonials-wrapper
    - data.testimonials.each_slice(3).to_a.each do |group|
      .testimonials-row
        - group.each do |testimonial|
          .testimonial
            %img.testimonial-logo{ src: "#{testimonial.logo}"}
            %p.testimonial-quote
              = testimonial.quote
            %p.testimonial-author
              = testimonial.author
            %a.testimonials-link{ href: "#{testimonial.link}", target: "_blank" }
              Read the case study →

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
%script{src: "/javascripts/testimonials.js", type: "text/javascript"}
