---
title: GitLab Webcast
description: Join our webcast where we talk all things GitLab and DevOps!
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---


<div class="webcast-header">
  <% if webcast.image %>
    <img src="<%= webcast.image %>"/>
  <% end %>
  <div class="webcast-info">
    <h1><%= webcast.title %></h1>
    <p><%= webcast.subtitle %></p>
  </div>
</div>

<div class="gitlab-content-container">
  <div class="webcast-content">
    <div class="share-container">
      <p>Share:</p>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com<%= current_page.url %>" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href=" https://twitter.com/intent/tweet?url=https%3A%2F%2Fabout.gitlab.com<%= current_page.url %>&via=gitlab&text=Check%20out%20GitLab%27s%20webcast%3A%20&hashtags=gitlab%2Cwebcast%2Cwebinar" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/shareArticle?url=https://about.gitlab.com<%= current_page.url %>&summary=<%= webcast.title %>">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="http://www.reddit.com/submit?url=https://about.gitlab.com<%= current_page.url %>&title=Post%20to%20Reddit%20via%20URL" target="_blank">
        <i class="fab fa-reddit"></i>
      </a>
    </div>
    <div class="webcast-content-section">
      <% if webcast.youtube_url.nil? %>
        <h3><%= webcast.date %></h3>
      <% end %>
      <%= kramdown(webcast.content) %>
    </div>
    <% if webcast.youtube_url? %>
      <div class="webcast-content-section margin-top50">
        <iframe src="<%= webcast.youtube_url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    <% end %>
    <% if webcast.speakers? %>
      <div class="webcast-content-section margin-top50">
        <h3>Speakers:</h3>
        <% webcast.speakers.each do |speaker| %>
          <div class="speaker-container">
            <div class="speaker-headshot" style="background:url('<%= speaker.image %>') center center no-repeat; background-size: cover;"></div>
            <div class="speaker-info">
              <p class="speaker-name"><%= speaker.name %></p>
              <p class="speaker-title"><%= speaker.title %></p>
            </div>
            <p class="speaker-description margin-top10"><%= speaker.about %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if webcast.youtube_url.nil? %>
    <div class="form-container">
      <h3>Register for the webcast:</h3>
      <p class="font-small">If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.</p>
      <div class="form">
        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_<%= webcast.form %>"></form>
        <script type="text/javascript">
          var formNumber = <%= webcast.form || 'null' %>;
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", formNumber, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              $('.confirmform').attr('style', 'height: initial');
              return false;
            });
          });
        </script>
        <div class="confirmform" style="visibility:hidden;height:0;">
          <div class="centered-form-info">
            <h3>Registration received!</h3>
            <p>Thank you for registering. You will receive an email with additional webcast details.</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
